[submodule "vendor/graphjs"]
	path = vendor/graphjs
	url = git@github.com:formalsec/graphjs.git
[submodule "vendor/ECMA-SL"]
	path = vendor/ECMA-SL
	url = git@github.com:filipeom/ECMA-SL.git
[submodule "bench/datasets"]
	path = bench/datasets
	url = https://github.com/formalsec/explode-js_datasets.git
[submodule "bench/code-vuln-runner"]
	path = bench/code-vuln-runner
	url = ssh://git@gitlab-syssec.dpss.inesc-id.pt:2222/mcoimbra/code-vuln-runner.git
[submodule "bench/explodejs-datasets"]
	path = bench/explodejs-datasets
	url = ssh://git@gitlab-syssec.dpss.inesc-id.pt:2222/mafaldaferreira/explodejs-datasets.git
