[submodule "vendor/ECMA-SL"]
	path = vendor/ECMA-SL
	url = https://github.com/formalsec/ECMA-SL.git
[submodule "vendor/graphjs"]
	path = vendor/graphjs
	url = https://github.com/formalsec/graphjs.git
[submodule "bench/datasets"]
	path = bench/datasets
	url = https://github.com/formalsec/explodejs-datasets.git
