pin-depends: [
  ["instrumentation2.0.0.4" "git+https://github.com/formalsec/instrumentation2.git#v0.0.4"]
  ["smtml.dev" "git+https://github.com/formalsec/smtml.git#d1668dbfcdcf78c076d5a3665ae051bfa348873a"]
]
