<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>404 - Page Not Found</title>
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/skeleton.css">
  </head>
  <body>
    <div class="container">
      <h1>404</h1>
      <p>Oops! The page you're looking for doesn't exist.</p>
      <p><a href="/">Go back to the index</a></p>
    </div>
  </body>
</html>
