<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <!-- <link rel="stylesheet" href="https://latex.vercel.app/style.css"> -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/skeleton.css">
  </head>
  <body>
    <div class="container">
      <h4>Benchmarking</h1>
      <table class="u-full-width">
        <thead>
          <tr>
            <th>Timestamp</th>
            <th>Time limit</th>
            <th>Output dir</th>
            <th>Filter</th>
            <th>Index</th>
          </tr>
        </thead>
        <tbody>
        {% for run in runs %}
          <tr>
            <td>{{ run.timestamp }}</td>
            <td>{{ run.time_limit }}</td>
            <td><a href="/results/{{ run.timestamp }}">{{ run.output_dir }}</a></td>
            <td>{{ run.filter_ }}</td>
            <td>{{ run.index }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
